{{> head}} 

<body>
    {{> navbar}}

  <div class="container">
    {{{ body }}} 
    {{!-- body kad renderinti tam tikra puslapi naudojame sintakse 3 kabutes,  kur turi buti raktinis zodis body --}}
  </div>
</body>
</html>