/* body {
  background: rgb(38,52,82);
  background: linear-gradient(354deg, rgba(38,52,82,0.9953023445706407) 6%, rgba(109,198,183,1) 86%);
  );
} */
.todo {
  margin-bottom: 1rem;
}

.todo span.completed {
  text-decoration: line-through;
}

.todo label {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  background: #f3f3f3;
  padding: 1rem;
}

.todo i {
  z-index: 2;
}
